.blogs .box-container {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));*/
  --e-con-grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) !important;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 100px); */
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: 1px solid var(--blue2);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #132235;
}

.blogs .box-container .box .content .title:hover {
  color: var(--blue2);
}

.blogs .box-container .box .content span {
  color: #868686;
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #222121;
  padding: 1rem 0;
}
