.contact .row {
    display: flex;
    background: var(--blue-dark);
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
  }
  
  .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
  }
  
  .contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
  }
  
  .contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #fff;
    /* border: var(--border); */
    /* border: 1.5px solid var(--hamburger); */
  }
  
  .contact .row form .inputBox span {
    color: var(--blue2);
    font-size: 2rem;
    padding-left: 2rem;
  }
  
  .contact .row form .inputBox input,
  textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #000;
    text-transform: none;
    background: none;
    
  }
  