.header {
  background: var(--blue-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 2px 2px 10px #fff, -2px -2px 10px #dadef0;
}

.header .logo img {
  width: 35vw;
  height: 15vh;
  object-fit: cover;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--hamburger);
  border-bottom: 0.1rem solid var(--hamburger);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--hamburger);
}

#menu-btn {
  display: none;
}

/* FIM */
