/* media queries  */



@media (max-width: 1400px) {
  /* .blogs .box-container {
    grid-template-columns: repeat(4, 1fr);
  } */
}

@media (max-width: 1200px) {
  /*Para deixar apenas duas colunas a partir do tablet mesmo usando o grid-template-columns em auto-fit*/	
  /*.blogs .box-container {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-auto-flow: row;
    padding-block-start: 20px;
    padding-block-end: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap:12px
  }*/
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -150%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  header .navbar.active {
    right: 0;
    transition: all 0.8s ease;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }

}
@media (max-width: 640px) {
  /* .blogs .box-container {
    grid-template-columns: 1fr;
  } */
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 1rem 6%;
    display: flex;
    flex-wrap: wrap;
  }
  .header .logo img {
    /* width: 55vw;
    height: 10vh;
    object-fit: cover;
    position:relative;
    left: 3rem; */
    height: 7rem;
  }
  .header .icons div {
    font-size: 2.5rem;
    position: relative;
    left: -5px;
  }
  .footer .credit {
    font-size: 1.2rem;
  }
  /* .blogs .box-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-auto-flow: row;
    padding-block-start: 0px;
    padding-block-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
 
  } */
}
