@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

body {
  /* background: #001c40; */
  /*background: #dadef0;*/
  background: #fefefe;
}

:root {
  --blue: #3266a8;
  --black: #13131a;
  --blue-clear: #547ec7;
  --white: #ffffff;
  --green-logo: #5ebab8;
  --main-color: #d3ad7f;
  --shadow-blur: 2px 2px 10px #d3ad7f, -2px -2px 10px #fff;
  --header: #132235;
  --background: #fefefe;
  --border:1px solid #5ebab8;
  
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}