@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

body {
  /* background: #001c40; */
  /*background: #dadef0;*/
  background: #fefefe;
}

:root {
  --blue: #3266a8;
  --black: #13131a;
  --blue-clear: #547ec7;
  --white: #ffffff;
  --green-logo: #5ebab8;
  --main-color: #d3ad7f;
  --shadow-blur: 2px 2px 10px #d3ad7f, -2px -2px 10px #fff;
  --header: #132235;
  --background: #fefefe;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
/* Iníco do header */
.header {
  background: var(--header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  /* border-bottom: 2px solid #dadef0; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 20vh;
  width: 25vw;
  object-fit: cover;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--green-logo);
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
}

.header .icons div:hover {
  color: var(--green-logo);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  color: #fff;
  font-size: 1.7rem;
  background: #5ebab8;
  cursor: pointer;
  border-radius: 7px;
}

.btn:hover{
  background: transparent;
  border:2px solid #5ebab8;
  color: #5ebab8;
  transition: .1s all ease;
}

#menu-btn {
  display: none;
}
/* fim do header */

/* Iníco do Home */
.home {
  min-height: 180vh;
  display: flex;
  padding: 4rem;
  align-items: center;
  background: url(../assets/1920.jpg) no-repeat;
  background-size: cover;
  background-position: center;  
}

.home .content {
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 60px;
  
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--green-logo);
  margin-bottom: 2rem;
    
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 2rem;
  color: #eee;
  font-weight: 700;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0, 25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}


/* fim do home */

/* Início do sobre */

.about .row {
  display:flex;
  align-items: center;
  background: #5ebab8;
  flex-wrap: wrap;
  border-radius: 7px;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--green-logo);
  text-transform: uppercase;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--green-logo);
  cursor: pointer;
  border-radius: 7px;
}

.btn {
  margin-top: 1rem;
  
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 1.5rem;
}

.menu.box-container.box {
  padding: 5rem;
  text-align: center;
  border: var(--borde);
  border-radius: 7px;
}

.menu.box-container.box img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 7px;
}

.menu.box-container.box img:hover{
  transform: scale(1.03);
}

/* @media queries */
@media (max-width: 1200px) {
  section {
    padding: 4rem;
  }
  .home .content {
    background-position: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  header .navbar.active {
    right: 0;
    transition: all 0.8s ease;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .home {
    background-position: left;
    justify-content: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
